log/*
rethinkdb_data/*
node_modules

# we shouldn't commit the App Secret to a public repo,
# just head to https://developers.facebook.com/apps/563086800536760/
# and copy the App Secret into app_secret.txt
app_secret.txt
