<!DOCTYPE html>
<html>
<head>
<title>CrowdSauce</title>
<meta charset="UTF-8">
<script type="text/javascript" src="js/login.js"></script>
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/bootstrap-theme.min.css" rel="stylesheet">


<link href="../css/landing-page.css" rel="stylesheet">
<link href="../css/about.css" rel="stylesheet">
</head>
<body>
    <div class="background" >
    </div>
    <div class="container">

    <nav class="navbar navbar-inverse navbar-fixed-top" role=navigation>
      <a class="navbar-brand" href="/">CrowdSauce</a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/feed">Home</a>
        </li>      
        <li class="nav-item active">
          <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
      <li class="nav-item ">
        <a class="nav-link" href="/favorites">Favorites</a>
      </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/settings">Settings</a>
        </li>
      </ul>
    </nav>


      <div id="about-div" class="starter-template">
        <h1 id="about-header" >About CrowdSauce</h1>
        <p id="about-paragraph" class="lead">CrowdSauce is a web application for sharing recipes with friends. The recipes can be home-cooked favorites, or links to your favorite cooking websites, like allrecipes.Our web application integrates with Facebook, allowing us to offer a full social experience. This experience includes commenting, sharing to Facebook, and viewing friends' profiles. Additionally, when one posts a recipe, they can add their own notes, e.g, substitutions made. With these notes, cooks can also share their thoughts on the final product, providing you with reviews from the people you trust.</p>

    </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../js/libs/bootstrap.min.js"> </script>
  </body>
</html>
