<!DOCTYPE html>
<html>
<head>
<title>CrowdSauce</title>
<meta charset="UTF-8">

<!-- JS -->
<script src="../js/login_check.js"></script>
<script src="https://fb.me/react-0.14.7.js"></script>
<script src="https://fb.me/react-dom-0.14.7.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.28.3/react-bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
<link href="../css/landing-page.css" rel="stylesheet">
<link href="../css/about.css" rel="stylesheet">
</head>
<body>
    <div class="container" id = "main_container">
    <div id="navbar"></div>
    <div id="about"></div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../js/libs/bootstrap.min.js"> </script>
    <script src="../js/react_build/navbar.build.js"></script>
    <script src="../js/react_build/about.build.js"></script>
  </body>
</html>
