<!DOCTYPE html>
<html>
<head>
<title>CrowdSauce</title>
<meta charset="UTF-8">

<!-- JS -->
<script src="../js/login_check.js"></script>
<script src="https://fb.me/react-0.14.7.js"></script>
<script src="https://fb.me/react-dom-0.14.7.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.28.3/react-bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>


<!-- CSS -->
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
<link href="../css/posts.css" rel="stylesheet">

</head>
<body>
	<div id="fb-root"></div>
    <div class="container" id = "main_container">
        <div id="navbar"></div>

        <div class="row">
          <br> <br>
          <h1 class="feed-title">Your Favorites</h1>

          <!-- FEED  -->
		  <div class="col-md-3" id=""></div>
          <div class="col-md-6" id="posts"></div>
		  <div class="col-md-3"></div>

        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../js/libs/require.min.js"></script>

    <!-- CrowdSauce Javascript -->
    <script src="../js/react_build/favorites.build.js"></script>
    <script src="../js/react_build/navbar.build.js"></script>

	

  </body>
</html>
