

/*
*	About Page ================================================================
*/
#about-div {
	margin-top: 6.5em;
	/*background: rgba(255, 255, 255, .8);
	border-radius:5px;*/
	padding:10px;
}
#about-header {
	color: rgba(20, 20, 20, 1.0);
	text-shadow: 2px 3px 3px rgba(0,0,0,0.3);
}
#about-paragraph { 
	color: rgba(40, 40, 40, 1.0);
	text-shadow: 2px 2px 2px rgba(40,40,40,0.3);
	font-size:26px;
}

