
.starter-template {
  text-align: center;
}

.panel {
  margin-top: 5em;
  margin-left: 1em;
  margin-right: 30em;
  /*padding: 10rem 10rem;*/
  text-align: center;
}

#welcome-header {
	text-align: left;
	font-size: 48px;
}

#fbLoginBtn {
	font-size: 24px;
}

body { 
  background: url('http://i.imgur.com/O0CbWN8.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*body {
     margin: 0;
     background: url('http://i.imgur.com/O0CbWN8.png');
     background-color: gray;
     background-size: 1012px 670px;
     background-repeat:no-repeat;
     display: compact;
     font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}*/

